<!DOCTYPE html>
<html>
  <head>
    <title>Devise</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class='auth-info-links'>
  			<% if user_signed_in? %>
  			  <p><%= current_user.email %></p>
  			  <p><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></p>
  			<% else %>
  				<p><%= link_to "Sign In", new_user_session_path %></p>
  				<p><%= link_to "Sign Up", new_user_registration_path %></p>
  			<% end %>
  		</div>

      <div class='auth-info-links'>
    			<% if teacher_signed_in? %>
    			  
    			  <p><%= link_to "Sign Out", destroy_teacher_session_path, method: :delete %></p>
    			<% else %>
    				<p><%= link_to "Sign In", new_teacher_session_path %></p>
    				<p><%= link_to "Sign Up", new_teacher_registration_path %></p>
    			<% end %>
    		</div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
